<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <RollingFile
                name="JsonRollingFileAppender"
                fileName="json/events.json"
                filePattern="json/events.%d{yyyy-MM-dd-HH}.json.gz"
                ignoreExceptions="true">

            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <!--PatternLayout pattern="%highlight{[%-5p] %-3tid : %X{dhteventtype} : %c %m%n}{FATAL=Bright red blink, ERROR=Bright red, WARN=Bright yellow, INFO=Bright green, DEBUG=Bright cyan, TRACE=Bright cyan}"/-->
            <PatternLayout pattern="[%-5p] %-3tid : %X{dhteventtype} : %c %m%n"/>
        </Console>

        <RollingFile
                name="RollingFileAppender"
                fileName="logs/application.log"
                filePattern="logs/application.%d{yyyy-MM-dd-HH}.log.gz"
                ignoreExceptions="true">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%-5p] %-3tid : %c{1} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <File name="DhtListenersFileAppender" fileName="/bigdata/dht-observer/logs/dht-listeners.log" append="false">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%-5p] %-3tid : %c{1} %m%n</Pattern>
            </PatternLayout>
        </File>

        <Routing name="DhtListenersRoutingAppender">
            <Routes pattern="${ctx:shortCode}">
                <Route>
                    <File name="DhtListenersFileAppender" fileName="/bigdata/dht-observer/logs/dht-listeners-${ctx:shortCode}.log" append="false">
                        <PatternLayout>
                            <Pattern>%d{ISO8601} [%-5p] %-3tid : %c{1} %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>

        <Null name="null" />

    </Appenders>

    <Loggers>

        <!-- Classic loggers-appenders -->

        <Root level="info">
            <AppenderRef ref="Console"             level="info"/>
            <AppenderRef ref="RollingFileAppender" level="info"/>
        </Root>

        <Logger name="com.datastax" level="info" additivity="false">
            <AppenderRef ref="Console"             level="info"/>
            <AppenderRef ref="RollingFileAppender" level="info"/>
        </Logger>

        <Logger name="io.netty" level="info" additivity="false">
            <AppenderRef ref="Console"             level="info"/>
            <AppenderRef ref="RollingFileAppender" level="info"/>
        </Logger>

        <!-- Routing-based appenders -->

        <Logger name="dhtlisteners" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="DhtListenersRoutingAppender"/>
        </Logger>

        <!-- Bigdata events -->
        <Logger name="bigdata" level="info" additivity="false">
            <AppenderRef ref="JsonRollingFileAppender"/>
        </Logger>

    </Loggers>

</Configuration>